* {
    font-family: Arial, Helvetica, sans-serif
}

/* Início do estilo para header */

#header {
    background-color: #574973!important;
    height: 10vh;
}

#nomeDoSite {
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;}

#headerMenu {
    width: 50%;
}

.nav-link:hover {
    color: black!important;
    transition: all 0.1s ease-in-out;
    background-color:#BAC2D9; /* queria uma transição com botão ocupando toda a altura da li */
}

#login {
    color: #F27C38;
}
/* Fim do estilo para header */


/* Início do estilo para menu secundário e cards */

#menuSecundario {
    background-color: #57497360!important;
    height: 13vh;
}

#menuSecundario a:hover{
    color: black!important;
    transition: all 0.1s ease-in-out;
    background-color:rgb(221, 224, 234); /* queria uma transição com botão ocupando toda a altura da li */
}

#mensagens {
    color: #F27C38;
    background-color:rgb(221, 224, 234)
}

.cardsConexoes {
    height: 77vh;
    overflow: auto;

}

/* Fim do estilo para menu secundário e cards */


/* Início do estilo para chat */

.chatConversa {
    height: 70vh;
    overflow: auto; 
}

.chatEscreve {
    height: 20vh;
}

/* Fim do estilo para chat */