.bg-my {
  background: #988fa8;
}
.text-my-dark {
  color: #495361;
}
.photos {
  height: 60vh;
  background: url("../image/fotos.PNG");
  background-position: center;
  background-size: cover;
}

/* .text-my-light {
}
.text-my {
} */
* {
  overflow: hidden;
}
.board {
  overflow-y: scroll;
  height: 150vh;
}
/* ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
} */
