
/* Início do estilo para header */
#headerNav {
    background-color: #574973!important;
}

header nav div {
    width: 50%;
}

.transicaoNav:hover {
    color: black!important;
    transition: all 0.1s ease-in-out;
    background-color:#BAC2D9; /* queria uma transição com botão ocupando toda a altura da li */
}

#login {
    color: #F27C38;
}
/* Fim do estilo para header */


/* Início do estilo para main */
.aside {
    height: 100vh; 
}

#asideNav {
    background-color: #57497360!important;
    color: black;
    height: 100px;
}

.menuSecundario a:hover{
    color: black!important;
    transition: all 0.1s ease-in-out;
    background-color:rgb(221, 224, 234); /* queria uma transição com botão ocupando toda a altura da li */
}

#mensagens {
    color: #F27C38;
}