.bg-my {
  background: #988fa8;
}
.text-my-dark {
  color: #495361;
}
.photos {
  height: 60vh;
  background: url("../image/fotos.PNG");
  background-position: center;
  background-size: cover;
}
.buttons {
  height: 15vh;
}
.box {
  height: 80px;
  width: 80px;
}
.box:nth-child(1) {
  background: #ff4949;
}
.box:nth-child(2) {
  background: #13ce66;
}
* {
  overflow: hidden;
}
.board {
  overflow-y: scroll;
  height: 150vh;
}
