/* reset de margens */
* {
    font-family: Arial, Helvetica, sans-serif
    margin: 0;
    padding:0;
    
}


footer {
    background-color: #574973!important;
    height: 7vh;
    color: aliceblue;
}

#novaConta-main{
    height: 88vh;
}

#novaConta-main label{
    font-size: 30px;
    color: rgb(78, 78, 78);
}

#novaConta-main h1{
    color: rgb(78, 78, 78);
}

.home-h1{
    color: aliceblue;
    font-size: 500%;
    align-self: center;
    text-shadow: 1px 1px black;
}

.home-p{
    color:aliceblue;
    font-size: 150%;
    text-shadow: 1px 1px black;
}

#banner-images{
    opacity: 0.9; 
    height: 150%;
}

/* #home-main{
    max-width: 63vw;
} */



.txt-fixed {
    position:absolute;
    top: 35%;
    left:20%;    
}

#home-btn-cadastrar{
    position: absolute;
    top: 75%;
    left:20%;
    text-align: center;
    color: aliceblue;
    padding: 0.5%;
    width: 250px;
    height: 60px;
    background-color: #f27C38;
    text-decoration: none;    
    border-style: solid;
    border-radius: 30px;
    border:1px solid;
    border-color: #f27c38;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#home-btn-cadastrar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #f29C50;
    border-color: #f29c50;
  }