.bg-link {background-color: #988fa8;

}

.text-my-dark {
    color: #497361; 
}
.fotos {
    height: 60vh;
    background:url("../image/fotos-perfil.jpeg");
    background-position: center;
    background-size: cover;
}
