body {
  font-family: "Poppins", sans-serif;
}
.color-orange {
  color: #f27c38;
}
.photos {
  height: 48vh;
  background: url("../image/fotos.PNG");
  background-position: center;
  background-size: cover;
}
.buttons {
  height: 15vh;
}
.box {
  height: 80px;
  width: 80px;
}
.none {;
  display: none;
}
.box:nth-child(1) {
  background: #ff4949;
}
.box:nth-child(2) {
  background: #13ce66;
}
.box:nth-child(3) {
  background: #ffc82c;
}
.box {
  cursor: pointer;
}
* {
  overflow: hidden;
}
.board {
  overflow-y: scroll;
  height: 150vh;
}
/* conexoes premium */
.about-dash img {
  width: 15%;
}
